DEBUG=True
SECRET_KEY=django-insecure-o$2u_)yn12b)v=k!$&*^d!cp#f+2m$f3wkmzbl=ubdm)f=w!46
DATABASE_URL=postgresql://postgres:[password]@db.[project-ref].supabase.co:5432/postgres
CORS_ALLOWED_ORIGINS=http://localhost:5173
